arabic-reshaper
python-bidi
streamlit
langchain-core
python-dotenv
langchain-openai
openai
langchain-anthropic
langchain-groq
pathlib
tensorflow
torch 
torchvision 
torchaudio
transformers
faster-whisper
fpdf
